<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<div class="container text-center">
  <div>
    <h2 style="margin: 50px 0px">قم بالتسجيل في الماده التي تريدها</h2>
  </div>
</div>

<div class="container">
  <div class="row" *ngIf="level === 'الصف العاشر' || level === 'الصف الحادي عشر' || level === 'الصف الثاني عشر' ">
    <div class="col-xl-4 col-md-12 NewHover" data-bs-toggle="modal" data-bs-target="#exampleModal"
      *ngFor="let subject of secSubject">

      <div class="card-counter primary" (click)="getSelectedSubject(subject)">
        <i class="fa fa-code-fork"></i>
        <div class="count-numbers" style="cursor: pointer;">
          <span class="row">
            <div class="col-7" style="text-align: right;">
              {{subject.name}}
            </div>
            <div class="col-5">
              <button type="button" class="btn btn-light btn-circle btn-xl"
                style="background-color: #06bbcc !important">
                <img src="assets/img/unnamed.png" style="width: 70px; height: 70px; margin-top: -10px" />
              </button>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="level !== 'الصف العاشر' && level !== 'الصف الحادي عشر' && level !== 'الصف الثاني عشر' ">
    <div class="col-xl-4 col-md-12 NewHover" data-bs-toggle="modal" data-bs-target="#exampleModal"
      *ngFor="let subject of allSubject">

      <div class="card-counter primary" (click)="getSelectedSubject(subject)">
        <i class="fa fa-code-fork"></i>
        <div class="count-numbers" style="cursor: pointer;">
          <span class="row">
            <div class="col-7" style="text-align: right;">
              {{subject.name}}
            </div>
            <div class="col-5">
              <button type="button" class="btn btn-light btn-circle btn-xl"
                style="background-color: #06bbcc !important">
                <img src="assets/img/unnamed.png" style="width: 70px; height: 70px; margin-top: -10px" />
              </button>
            </div>
          </span>
        </div>
      </div>
    </div>



  </div>
</div>

<!-- /////////////////////////////Modals////////////////////////////////// -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title" id="exampleModalLabel">انضم الينا</h2>
      </div>
      <div class="modal-body">
          <div>
            <h4 class="form-label select-label text-end" style="padding-bottom: 10px">
              اختر معلمك
            </h4>
            <select class="form-control" name="selectedInstructorId" [(ngModel)]="selectedInstructorId" (change)="getInstructorAppoinstments()" required>
              <option selected>اختر معلمك</option>
              <option *ngFor="let item of instructorSubject" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>

        <div class="my-2">
          <h5 class="form-label select-label text-end" style="padding-bottom: 10px">
            ادخل عدد الساعات
          </h5>
          <input type="number" [(ngModel)]="numberOfHouers" class="form-control">
        </div>

        

        <div *ngIf="selectedInstructorId!=null" class="form-group my-3">
          <div class="row">
            <div class="form-group col-md-12 col-lg-5">
              <h5 class="form-label select-label text-right mb-3">
                قم باختيار اليوم المناسب لك
              </h5>
            </div>
         
          </div>

          <div  class="row" *ngFor="let row of rows; let i = index">
            <div class="form-group col-md-12 col-lg-11">
              <select class="form-select form-select-lg mb-3" name="day{{i}}" [(ngModel)]="rows[i]" aria-label="اختر اليوم الاول">
                <option  selected>اختر الميعاد</option>
                <option *ngFor="let item of daytime" [ngValue]="item">{{item.dayOfWeek}} &nbsp;&nbsp; {{item.lectureDate}}</option>
              </select>
            </div>
            

          
              <div  class="col-md-12 col-lg-1" >
                <button type="button" class="btn btn-primary" (click)="addRow()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>

            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close 
          </button>
          <button type="submit" class="btn btn-primary" (click)="submitRequest()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>