<div class="custom-container my-5 w-75">
  <form [formGroup]="SubjectForm" (ngSubmit)="onSubmit()" class="my-3 custom-form">
    <div class="form-group">
      <label for="name" class="custom-label">اسم المادة</label>
      <input
        [(ngModel)]="SubjectForm.value.name"
        [class.is-invalid]="Name?.invalid && Name?.touched"
        name="name"
        type="text"
        id="name"
        formControlName="name"
        class="form-control custom-input"
        placeholder="اسم المادة"
      />
    </div>
    <div *ngIf="Name?.errors && Name?.touched" class="custom-error">
      <small *ngIf="Name?.errors?.['required']">يجب ادخال اسم الماده</small>
    </div>
    <br>
    <div class="custom-radio-group">
      <label class="custom-radio-label">
        <input type="radio" formControlName="grade" [(ngModel)]="selectedOption" value="1" />
        لجميع المراحل التعليميه
      </label>
      <label class="custom-radio-label">
        <input type="radio" formControlName="grade" [(ngModel)]="selectedOption" value="2" />
        للمرحله الثانويه فقط
      </label>
    </div>
    <div *ngIf="Grade?.errors && Grade?.touched" class="custom-error">
      <small *ngIf="Grade?.errors?.['required']">يجب عليك الاختيار</small>
    </div>

    <button type="submit" [disabled]="SubjectForm.invalid" class="custom-button">
      حفظ
    </button>
  </form>
</div>