

  <div class="container-lg">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-4 pt-4 row">
              <div class="col-6 p-0 mt-2" style="width: 40%;">
                 أختراليوم لعرض الطلاب : 
              </div>
              <div class="form-group col-6 px-1" >
                <select class="form-control" name="day" [(ngModel)]="selectedDay" (change)="filterTable()" required>
                  <option value="اختراليوم" selected>اختراليوم </option>
                  <option value="الاحد">الاحد</option>
                  <option value="الاثنين">الاثنين</option>
                  <option value="الثلاثاء">الثلاثاء</option>
                  <option value="الاربعاء">الاربعاء</option>
                  <option value="الخميس">الخميس</option>
                  <option value="الجمعه">الجمعه</option>
                  <option value="السبت">السبت</option>
                </select>
              </div>
            </div>

            <div class="col-8 my-2">
              <h1 id="Tableheading" style="text-align: right;">جدول المحاضر <b></b></h1>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>أسم الطالب</th>
              <th>اسم الماده</th>
              <th>اليوم</th>
              <th>الوقت</th>
              <th>الصف</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of displayedRows">
              <td>
                <span *ngIf="!row.isEditing">{{ row.studentName }}</span>
                <input *ngIf="row.isEditing" type="text" [(ngModel)]="row.studentName" class="form-control" />
              </td>

              <td>
                <span *ngIf="!row.isEditing">{{ row.subjectName }}</span>
                <input *ngIf="row.isEditing" type="text" [(ngModel)]="row.subjectName" class="form-control" />
              </td>
              <td>
                <span *ngIf="!row.isEditing">{{ row.dayOfWeek }}</span>
                <input *ngIf="row.isEditing" type="text" [(ngModel)]="row.dayOfWeek" class="form-control" />
              </td>
              <td>
                <span *ngIf="!row.isEditing">{{ row.lectureDate }}</span>
                <input *ngIf="row.isEditing" type="text" [(ngModel)]="row.lectureDate" class="form-control" />
              </td>
              <td>
                <span *ngIf="!row.isEditing">{{ row.grade }}</span>
                <input *ngIf="row.isEditing" type="text" [(ngModel)]="row.grade" class="form-control" />
              </td>
              <td>
                <a class="add" title="Add" data-toggle="tooltip" *ngIf="row.isAddMode" (click)="addOrUpdateRow(row)"><i class="material-icons">&#xE03B;</i></a>
                <a class="edit" title="Edit" data-toggle="tooltip" *ngIf="!row.isEditing" (click)="startEditing(row)"><i class="material-icons">&#xE254;</i></a>
                <a class="view" title="View" data-toggle="tooltip" routerLink="/courses/{{row.studentId}}"><i class="material-icons">&#xE8F4;</i></a>
                <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteRow(row)"><i class="material-icons">&#xE872;</i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination d-flex justify-content-center">
          <button class="btn btn-link btn-primary rounded-3" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
            السابق
          </button>
          <span class="mt-2 mx-3">الصفحة {{currentPage}} من {{totalPages}}</span>
          <button class="btn btn-link btn-primary rounded-3" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
            التالي
          </button>
        </div>
      </div>
    </div>
  </div>

