<div class="container mt-5">
    <div class="card">
        <form [formGroup]="fullData" onsubmit="submit()">
            <div class="form-group">
                <label class="mb-2" for="daySelect1">اختر المادة :</label>

                <div >
                    <select class="form-control" id="daySelect1" formControlName="subjectId" name="day1" (change)="getSubjectName($event)">
                        <option *ngFor="let sub of allSubject" [value]="sub.name" >{{sub.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" [formGroup]="myForm">
                <div class="row" formArrayName="rows" *ngFor="let row of rowsArray.controls; let i = index">
                    <div class="form-group col-md-6 col-lg-6">
                        <label for="daySelect">اختر اليوم</label>
                        <select class="form-control" formControlName="{{ i }}.day" required>
                            <option>اختر اليوم</option>
                            <option value="6">السبت</option>
                            <option value="0">الاحد</option>
                            <option value="1">الاثنين</option>
                            <option value="2">الثلاثاء</option>
                            <option value="3">الاربعاء</option>
                            <option value="4">الخميس</option>
                            <option value="5">الجمعه</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6 col-lg-5">
                        <label for="timeInput">اختر الوقت: </label>
                        <input type="time" class="form-control" formControlName="{{ i }}.time" required>
                    </div>

                    <div class="col-md-6 col-lg-1">
                        <button type="button" class="btn btn-primary mt-4" (click)="addRow()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

<div class="modal fade"  #exampleCalsultModal  id="exampleCalsultModal" tabindex="-1" aria-labelledby="exampleCalsultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body" style="padding-top: 40px;">
          <div class="text-center">
            <i class="fas fa-check-circle" style="font-size: 48px; color: green;"></i>
            <h1 style="margin-top: 10px;">تم إضافة المادة بنجاح</h1>
          </div>
        </div>
      </div>
    </div>
  </div>