<div class="row" style="width: 100%; justify-content: space-between;">
<div class="col-2 p-0 ">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas text-center" id="sidebar">
    <a routerLink="/" class="navbar-brand m-0 align-items-center text-center" >
        <h2 style="color: #06BBCC;font-size: 40px;">
          <i class="fa fa-book ml-3"></i>
        </h2>
      <h2 class="m-0 " style="color: #06BBCC;">أكاديمية الخليج</h2>
    </a>
    <ul class="nav my-4 px-2">
      <li class="nav-item">
        <a class="nav-link " (click)="navigate('addsubject')">
          <i class="mdi mdi-compass-outline menu-icon"></i>
          <span class="menu-title">أضافة مادة</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('listen')">
          <i class="mdi mdi-compass-outline menu-icon"></i>
          <span class="menu-title">قبول المدرسيين</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('listen')">
          <i class="mdi mdi-contacts menu-icon"></i>
          <span class="menu-title">استقبال الطلاب</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigate('listen')">
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          <span class="menu-title">Forms</span>
        </a>
      </li>
      
    </ul>
  </nav>
  

  <!-- page-body-wrapper ends -->
</div>

<div class="col-9 p-0 mx-1">
  <div style="height: 80vh; overflow-y: auto; width: 100%;" *ngIf="navlink === 'addsubject'" class="custom-scrollbar">
    <app-add-subject></app-add-subject>
  </div>
</div>

</div>