<div class="container my-5">
    <div data-elementor-type="wp-page" data-elementor-id="27424" class="elementor elementor-27424"
        data-elementor-post-type="page">
                <div class="elementor-widget-container" style="text-align: center;">
                    <h2 class="my-5">الشروط والاحكام</h2>
                </div>
            
            <div class="elementor-element elementor-element-a99c6a9 elementor-widget elementor-widget-text-editor"
                data-id="a99c6a9" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <p style="direction: rtl;"><span style="font-size: 20px;">1 . المقدمة</span></p>
                    <p style="direction: rtl;">
                        <span style="font-size: 16px;">مرحبًا بك في منصة <b>Gulf Academy </b> التعليمية (“الشركة” ، “نحن” ، “لدينا” ،
                            “نحن”)!</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">تحكم شروط الخدمة هذه (“الشروط” ،
                            “شروط الخدمة”) استخدامك لموقعنا الموجود على https://GulfAcademy.center / (معًا أو فرديًا
                            “الخدمة”) التي تديرها منصة <b>Gulf Academy </b> التعليمية.</span>
                    </p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">تحكم سياسة الخصوصية الخاصة بنا
                            أيضًا استخدامك لخدمتنا وتشرح كيف نقوم بجمع المعلومات التي تنتج عن استخدامك لصفحات
                            الويب الخاصة بنا وحمايتها والكشف عنها.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">تتضمن اتفاقيتك معنا هذه الشروط
                            وسياسة الخصوصية الخاصة بنا (“الاتفاقيات”). أنت تقر بأنك قد قرأت وفهمت الاتفاقيات ،
                            وتوافق على الالتزام بها.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">إذا كنت لا توافق (أو لا تستطيع
                            الامتثال) للاتفاقيات ، فلا يجوز لك استخدام الخدمة ، ولكن يرجى إعلامنا عن طريق البريد
                            الإلكتروني على info@GulfAcademy.center حتى نتمكن من محاولة إيجاد حل. تنطبق هذه الشروط على
                            جميع الزوار والمستخدمين وغيرهم ممن يرغبون في الوصول إلى الخدمة أو استخدامها.</span>
                    </p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">2. الاتصالات</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">باستخدام خدمتنا ، فإنك توافق على
                            الاشتراك في النشرات الإخبارية والمواد التسويقية أو الترويجية وغيرها من المعلومات
                            التي قد نرسلها. ومع ذلك ، يمكنك إلغاء الاشتراك في تلقي أي من هذه الاتصالات أو جميعها
                            منا باتباع رابط إلغاء الاشتراك أو عن طريق البريد الإلكتروني على
                            info@GulfAcademy.center</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">3. المشتريات</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">إذا كنت ترغب في شراء أي منتج أو
                            خدمة يتم توفيرها من خلال الخدمة (“الشراء”)، فقد يُطلب منك تقديم معلومات معينة ذات
                            صلة بعملية الشراء بما في ذلك على سبيل المثال لا الحصر، رقم بطاقة الائتمان أو الخصم
                            وتاريخ انتهاء صلاحية بطاقتك وعنوان إرسال الفواتير ومعلومات الشحن الخاصة بك.</span>
                    </p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">أنت تقر وتضمن ما يلي: (1) لديك
                            الحق القانوني في استخدام أي بطاقة (بطاقات) أو طريقة (طرق) دفع أخرى فيما يتعلق بأي
                            عملية شراء ؛ وأن (2) المعلومات التي تزودنا بها صحيحة وصحيحة وكاملة.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يجوز لنا استخدام خدمات الطرف
                            الثالث لغرض تسهيل الدفع وإتمام عمليات الشراء. من خلال تقديم معلوماتك ، فإنك تمنحنا
                            الحق في تقديم المعلومات إلى هذه الأطراف الثالثة وفقًا لسياسة الخصوصية الخاصة
                            بنا.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">نحتفظ بالحق في رفض أو إلغاء طلبك
                            في أي وقت لأسباب تشمل على سبيل المثال لا الحصر: توفر المنتج أو الخدمة، أو الأخطاء في
                            وصف أو سعر المنتج أو الخدمة، أو الخطأ في طلبك أو لأسباب أخرى.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">نحتفظ بالحق في رفض أو إلغاء طلبك
                            في حالة الاشتباه في احتيال أو معاملة غير مصرح بها أو غير قانونية.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">4. المسابقات واليانصيب والعروض
                            الترويجية</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">قد تخضع أي مسابقات أو مسابقات
                            يانصيب أو عروض ترويجية أخرى (يشار إليها مجتمعة باسم “العروض الترويجية”) المتوفرة من
                            خلال الخدمة لقواعد منفصلة عن شروط الخدمة هذه. إذا كنت تشارك في أي عروض ترويجية ،
                            فيرجى مراجعة القواعد المعمول بها وكذلك سياسة الخصوصية الخاصة بنا. إذا تعارضت قواعد
                            العرض الترويجي مع شروط الخدمة هذه ، فسيتم تطبيق قواعد الترويج.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">5. الاشتراكات</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يتم محاسبة بعض أجزاء الخدمة على
                            أساس الاشتراك (“الاشتراك (الاشتراكات)”). ستتم محاسبتك مقدمًا على أساس متكرر ودوري
                            (“دورة الفوترة”). سيتم تعيين دورات الفوترة وفقًا لنوع خطة الاشتراك التي تحددها عند
                            شراء اشتراك.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">في نهاية كل دورة فوترة ، سيتم
                            تجديد اشتراكك تلقائيًا بنفس الشروط بالضبط ما لم تقم بإلغائه أو تقوم منصة <b>Gulf Academy </b>التعليمية بإلغائه. يمكنك إلغاء تجديد اشتراكك إما من
                            خلال صفحة إدارة الحساب عبر الإنترنت أو عن طريق الاتصال بفريق دعم العملاء
                            info@GulfAcademy.center</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">مطلوب طريقة دفع صالحة لمعالجة
                            الدفع لاشتراكك. يجب عليك تزويد منصة <b>Gulf Academy </b> التعليمية
                            بمعلومات فوترة دقيقة وكاملة قد تشمل على سبيل المثال لا الحصر الاسم الكامل والعنوان
                            والولاية والرمز البريدي أو البريدي ورقم الهاتف ومعلومات طريقة دفع صالحة. من خلال
                            تقديم معلومات الدفع هذه ، فإنك تفوض تلقائيًا منصة <b>Gulf Academy
                            </b>التعليمية لتحصيل جميع رسوم الاشتراك المتكبدة من خلال حسابك إلى أي من وسائل الدفع
                            هذه.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">في حالة فشل الفوترة التلقائية لأي
                            سبب من الأسباب ، تحتفظ منصة <b>Gulf Academy </b>التعليمية بالحق في
                            إنهاء وصولك إلى الخدمة بأثر فوري.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">6. التجربة المجانية</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يجوز لمنصة <b>Gulf Academy </b>التعليمية ، وفقًا لتقديرها الخاص ، تقديم اشتراك مع إصدار
                            تجريبي مجاني لفترة محدودة من الوقت (“إصدار تجريبي مجاني”).</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">قد يُطلب منك إدخال معلومات
                            الفواتير الخاصة بك من أجل الاشتراك في الإصدار التجريبي المجاني.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">إذا أدخلت معلومات الفواتير الخاصة
                            بك عند الاشتراك في الإصدار التجريبي المجاني ، فلن يتم تحصيل رسوم منك بواسطة منصة
                            <b>Gulf Academy </b> التعليمية حتى انتهاء صلاحية النسخة التجريبية
                            المجانية. في اليوم الأخير من الفترة التجريبية المجانية ، ما لم تقم بإلغاء اشتراكك ،
                            سيتم تلقائيًا تحصيل رسوم الاشتراك المطبقة لنوع الاشتراك الذي حددته.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">تحتفظ منصة <b>Gulf Academy </b>التعليمية بالحق في</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">(1) تعديل شروط الخدمة لعرض التجربة
                            المجانية أو</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">(2) إلغاء هذا العرض التجريبي
                            المجاني في أي وقت وبدون إشعار.</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">7. تغييرات الرسوم</span></p>
                    <p style="direction: rtl;"><span style="font-size: 16px;">يجوز لمنصة <b>Gulf Academy </b> التعليمية ، وفقًا لتقديرها الخاص وفي أي وقت، تعديل
                            الاشتراكات</span></p>
                    <p>8. حق الاستفادة من الدورات المسجلة، أو جلسات الاستشارة عن بعد<br />. عند التسجيل
                        والاشتراك في دورة مسجلة، أو عند حجز استشارة من أي نوع، يحق للمشترك وحده حضور الدورة أو
                        الاستشارة، وشخص واحد قريب من الدرجة الأولى فقط. فيما عدا ذلك لا يُسمح بمشاركة المحتوى مع
                        الآخرين سولء في المنزل أو مقر العمل حتى لو بغرض تعميم الفائدة، وأي شخص يود الاستفادة من
                        محتوى المنصة يمكنه التسجيل والاشتراك فيها مباشرة. ويمكن الحصول على خصم في حال تم تسجيل
                        شخصين أو مجموعة معا. <br />. محتوى المنصة محمي، ويُسمح بمشاهدته بعظ التسجيل والاشتراك
                        مباشرة من خلال المنصة، ويُمنع أي محاولة لتنزيله على الأجهزة الخاصة لأن في هذا تعديا على
                        حقوق المنصة ومحتواها.</p>
                </div>
            </div>
        </div>
    </div>