<div id="joinUs" class="container-xxl py-5">
  <div class="container mx-auto">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    
      <h1 class="mb-5 mt-1">إنضم إلينا</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <a (click)="getRole('Student')">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <!-- <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i> -->
              <img class="text-primary mb-4" src="/assets/img/student.jpg" style="width: 80%;" alt="Student Image">
              <h5 class="mb-3">طالب</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <a (click)="getRole('Instractur')">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <!-- <i class="fa fa-3x fa-globe text-primary mb-4"></i> -->
              <img class="text-primary mb-4" src="/assets/img/teacher1.jpg" style="width: 80%;" alt="Teacher Image">
              <h5 class="mb-3">معلم</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
