<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">اسم الطالب</th>
        <th scope="col">رقم الموبايل</th>
        <th scope="col">الايميل</th>
        <th scope="col">المرحله</th>
        <th scope="col">عدد الاساعات</th>
        <th scope="col">اسم المعلم</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayedRequestAppointment">
        <th scope="row">{{item.studentName}}</th>
        <td>{{item.studentPhoneNumber}}</td>
        <td>{{item.studentEmail}}</td>
        <td>{{item.grade}}</td>
        <td>{{item.numberOfHouers}}</td>
        <td>{{item.instructorName}}</td>
        <td>
          <div>
            <button class="btn btn-primary rounded-3 mx-3" (click)="rejectedRequest(item.requestId)"
              style="background-color: #06BBCC !important;">رفض</button>
          </div>

    </tbody>
  </table>
  <div class="pagination">
    <button class="btn btn-link btn-primary rounded-3" [disabled]="currentPage === 1"
      (click)="goToPage(currentPage - 1)">
      السابق
    </button>

    <span class="mt-2 mx-3">الصفحة {{currentPage}} من {{totalPages}}</span>

    <button class="btn btn-link btn-primary rounded-3" [disabled]="currentPage === totalPages"
      (click)="goToPage(currentPage + 1)">
      التالي
    </button>
  </div>
</div>