<!-- Service Start -->
<div id="joinUs" class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        إنضم إلينا
      </h6>
      <h1 class="mb-5 mt-1">اختر مرحلتك</h1>
    </div>

    <div class="row g-4">
      <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <a routerLink="/login">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <!-- <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i> -->
              <img class="text-primary mb-4" src="/assets/img/st3.png" style="width: 50%;" />
              <h5 class="mb-3">برنامج الجامعات و الكليات</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <a routerLink="/login">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <!-- <i class="fa fa-3x fa-globe text-primary mb-4"></i> -->
              <img class="text-primary mb-4" src="/assets/img/Student3.png" style="width: 50%;" />

              <h5 class="mb-3">برنامج الطلاب</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
